<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream">
      <%
        @messages.each do |message|
      %>

      <div class="message">
        <div class="to">
          <%= message.to %>
        </div>
        <div class="from">
          <%= message.from %>
        </div>
        <div class="content">
          <%= message.content %>
        </div>
        <div class="time">
          <%= message.created_at %>
        </div>
      </div>
    <% end %>
    </div>
  </body>
</html>
